<h1>Sessions#welcome</h1>

<% if current_user.exists? %>

  <h1> Hello! You're logged in!, <%= current_user.username %></h1>

<% end %>

<%= button_to 'Login', '/login', method: :get %>

<%= button_to 'Sign Up', '/users/new', method: :get %>
